@media only screen and (max-width: 768px) {
    	
    .container-1{
        display: flex;
		background: url(image/e.jpg);
        background-size: cover;		
    }
    .container-1, h1{
        font-size: 25px;
    }
}
.bg{
	width:auto;
	height: 95vh;
	background: url(image/e.jpg);
    background-size: cover;
}
.heading{
    position: absolute;
    top: 10%;
    left: 39%;
    font-size: 45px;
}
.form{
    position: absolute;
    top: 25%;
    left: 40%;
}
input, [type="text"], [type="password"]{
    font-size: 20px;
    box-sizing: border-box;
    color: rgb(255, 95, 27);
	display: block;
}
input, [type="button"]{
    font-size: 20px;
    box-sizing: border-box;
    color: rgb(243, 241, 240);
	display: block;
}


.todo{
    border: 1px solid orange;
    width: 230px;
    background: none;
    color: rgb(236, 90, 22);  
  
}
.todo, a{
    text-decoration: none;
     color: orangered;
}


#sign{
	margin: auto;
	height:  70%; 
}
#sign{
	position: fixed;
	top: 20%;
    left: 20%;
	width: 40%;
}

#sign #form_sign{
	position: absolute;
	left: 26%;
}

















